# Don't make Git track temporary/work in progress files
*~
# Don't make Git track these files, file types and folders
*LICENSE
*LICENSE_IMAGE
*LICENSE_NOTICE
Rating SVGs/
*.txt
*.md
# But do track these files
!README.md
